body{
font-family:Aerial,Verdana;
font-weight:bolder;
font-size:20px;
background-color:rgb(228,235,105);
border-color:black;
border-style:solid;
}
h1{
color:rgb(71,71,71);
text-decoration:underline;
font-size:220%;
text-align:center;
}
h2{
color:rgb(24,24,24);
font-size:1.5em;
text-align:center;
text-decoration:underline;
}
.imagec{
display:block;
align:left;
padding:3px;
background-color:black;
float:left;
margin-right:20px;
height:500px;

}
a:link{
color:blue;
}
a:visited {
color: orange;
}
a:hover{
color:red;
}
.para1{
font-family:Helvetica;
padding:20px;
text-align:center;
}
.para2{
font-size:20px;
font-family:Helvetica;
text-align:center;
}
.para3{
font-family:Helvetica;
padding:20px;
text-align:center;
}
.highlight{
background-color:green;
}